<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/MyCss/style.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/summary">Monthly Summary</a></li>
                <li><a href="/add_transaction">Add Transaction</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="dashboard-container">
            <h1>Welcome, {{ user_name }}!</h1>
            <p>Here is your dashboard.</p>
            <h2>Your Latest Transactions:</h2>
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr class="{% if transaction['type'] == 'income' %}income{% elif transaction['type'] == 'expense' %}expense{% endif %}">
                        <td>{{ transaction['type'] }}</td>
                        <td>{{ transaction['category'] }}</td>
                        <td>{{ transaction['amount'] }}</td>
                        <td>{{ transaction['date'] if 'date' in transaction else 'N/A' }}</td>
                        <td>
                            <a href="/edit_transaction/{{ transaction['_id'] }}" class="button edit">Edit</a>
                            <form action="/delete_transaction/{{ transaction['_id'] }}" method="POST" style="display: inline;">
                                <button type="submit" class="button delete">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/all_transactions" class="view-transactions-btn">View All Transactions</a>
        </div>
    </main>
    <footer>
        <p>Student Budget App © 2024</p>
    </footer>
</body>
</html>
